# $Id: bcp.conf.sample,v 1.4 2002/12/25 23:17:02 decibel Exp $
#
# Configuration for bcp.sh
#
# Note that for any values not specified here, defaults will be used,
# EXCEPT for 'server', 'user', and 'password', which MUST be specified here.

server=BLOWER			#Server to backup
user=backup_username		#Username to use to login to sybase
password=backup_user_password	#Password

SYBASE='/usr/local/sybase'	#Proper setting for $SYBASE environment file
savedir="$HOME~/blower/"	#Directory to save files to
